.card {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--height-mobile-card);
  width: 100%;
  background: var(--color-white);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}
