.button {
  padding: 0;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 auto;
  width: var(--size-icon);
  height: var(--size-icon);
  color: var(--color-black);
}

.button:disabled {
  color: var(--color-arrow-disabled);
  cursor: not-allowed;
}
